<ion-view view-title="Near By">

  <!-- Header START -->
  <ion-nav-view animation="slide-left-right">
    <ion-nav-bar class="bar-calm">
      <ion-nav-buttons side="left" class="slide-left-right">
        <a class="button button-icon icon ion-ios-arrow-back forced-back-button-icon" ui-sref="menu.dashboard.home"></a>
      </ion-nav-buttons>
    </ion-nav-bar>
  </ion-nav-view>
  <!-- Header END -->

  <!-- Nearby Body START -->
  <ion-content>
    <h1>Nearby</h1>
  </ion-content>
  <!-- Nearby Body END -->

</ion-view>