<ion-view view-title="MCDPH Shared Use App">

  <!-- Header START -->
  <ion-nav-view animation="slide-left-right">
    <ion-nav-bar class="bar-calm">
      <ion-nav-buttons side="left" class="slide-left-right">
        <a class="button button-icon icon ion-ios-arrow-back forced-back-button-icon" ui-sref="menu.dashboard.home"></a>
      </ion-nav-buttons>
    </ion-nav-bar>
  </ion-nav-view>
  <!-- Header END -->

  <!-- Spaces Body START -->
  <ion-content>

    <!-- Site Info START -->
    <div class="item">
      <div class="item-text-wrap text-center">
        <b>{{siteName}}</b>
      </div>
      <div class="item-body">
        <p>Description - Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      </div>
    </div>
    <div class="button-bar site-button-bar">
      <button class="button button-dark button-outline icon-left ion-plus-round"><b>Invite</b></button>
      <button class="button button-dark button-outline icon-left ion-map"><b>Directions</b></button>
    </div>
    <!-- Site Info END -->

    <!-- Calendar START -->
    <div class="card" style="height: 300px">
      <div class="item item-text-wrap">
        Calendar container
      </div>
    </div>
    <!-- Calendar END -->

    <!-- Event Lists START -->
    <div class="list">
      <div class="item item-text-wrap text-center">
        <b>Event List</b>
      </div>
      <a ng-repeat="site in sites | orderBy: 'name'" class="row item item-text-wrap site-list event-item" ng-href="">
        <div class="col col-67">
          <b>{{site.name}}</b><br>
          <span>Event Type: {{site.type}}</span>
        </div>
        <div class="col">
          <p>{{site.date}}</p>
          <p>{{site.time}}</p>
        </div>
      </a>   
    </div>
    <!-- Event Lists END -->

  </ion-content>
  <!-- Spaces Body END -->

</ion-view>