<!-- Dashboard Tabs START -->
<ion-tabs class="tabs-icon-top tabs-calm tabs-striped">

  <ion-tab title="Home" icon="ion-ios-home" ui-sref="menu.dashboard.home">
    <ion-nav-view name="dashboard-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Search" icon="ion-ios-world" ui-sref="menu.dashboard.search">
    <ion-nav-view name="dashboard-search"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Activity" icon="ion-arrow-graph-up-right" ui-sref="menu.dashboard.activity">
    <ion-nav-view name="dashboard-activity"></ion-nav-view>
  </ion-tab>

</ion-tabs>
<!-- Dashboard Tabs END -->