<ion-view view-title="MCDPH Shared Use App">

  <!-- Home Body START -->
  <ion-content>
    <div class="row">
      <div class="col col-50">
        <div class="card dash-card list button-full">
          <a ui-sref="communityevents" class="item item-text-wrap item-text-center item-icon-left dash-card-font">
            <i class="icon ion-ios-football"></i> Community Events
          </a>
        </div>
      </div>
      <div class="col col-50">
        <div class="card dash-card list button-full">
          <a ui-sref="sites" class="item item-text-wrap item-text-center item-icon-left dash-card-font">
            <i class="icon ion-earth"></i> Sites
          </a>
        </div>
      </div>
    </div>

    <!-- More START -->
    <div class="row dash-more-card">
      <div class="col">
        <div class="card dash-card list button-full">
          <a class="item item-text-wrap item-text-center dash-card-font">
            More...
          </a>
        </div>
      </div>
    </div>
    <!-- More END -->

    <!-- Event Lists START -->
    <div class="list ">
      <div class="item text-center">
        <b>Nearby Community Sites</b>
      </div>
      <a ng-repeat="site in sites | orderBy: 'name'" class="item item-thumbnail-left" ng-href="/#/site/{{site.siteId}}/{{site.name}}">
        <img ng-src="{{site.img || 'img/no-image2.png'}}"/>
        <h2>{{site.name}}</h2>
        <p>{{site.type}}</p>
        <p>{{site.address}}</p>
      </a>   
    </div>
    <!-- Event Lists END -->

  </ion-content>
  <!-- Home Body END -->

</ion-view>