<ion-view view-title="MCDPH Shared Use App">
  <!-- SubHeader START -->
  <div class="bar bar-subheader bar-calm item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Events">
    </label>
    <button class="button button-clear"><span class="dash-nearby-search">Search</span</button>
  </div>
  <!-- SubHeader END -->

  <!-- Nearby Body START -->
  <ion-content class="has-subheader">
    <div class="row">
      <div class="col col-50">
        <div class="card">
          <div class="item item-text-wrap item-icon-left">
            <i class="icon ion-ios-football"></i> Events
          </div>
        </div>
      </div>
      <div class="col col-50">
        <div class="card">
          <div class="item item-text-wrap item-icon-left">
            <i class="icon ion-earth"></i> Spaces
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-50">
        <div class="card">
          <div class="item item-text-wrap item-icon-left">
            <i class="icon ion-person-stalker"></i> Hosts
          </div>
        </div>
      </div>
      <div class="col col-50">
        <div class="card">
          <div class="item item-text-wrap item-icon-left">
            <i class="icon ion-more"></i> More
          </div>
        </div>
      </div>
    </div>

    <!-- Reservation START -->
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap item-icon-left text-center">
            <i class="icon ion-calendar"></i> Make a Reservation
          </div>
        </div>
      </div>
    </div>
    <!-- Reservation END -->

    <!-- Event Lists START -->
    <div class="list card">
      <a href="#" class="item item-icon-left">
        <i class="icon ion-android-film"></i> Event 1
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-android-color-palette"></i> Event 2
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-android-bicycle"></i> Event 3
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios-game-controller-b"></i> Event 4
      </a>
    </div>
    <!-- Event Lists END -->

  </ion-content>
  <!-- Nearby Body END -->

</ion-view>